﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        TEST PAGE
        @using (Html.BeginForm("RunCustomerTest", "Test", FormMethod.Post))
        {
            <input type="submit" value="RUN TEST" />
        }
    </div>
</body>
</html>
