﻿
@{
    ViewBag.Title = "Index";
}

<h2>New Customer</h2>
<form method="post">
    <input type="text" name="fullname" placeholder="Full Name" /><br />
    Office ID: <select name="officeIds">
        <option value="1">1</option>
    </select><br />
    Active: <input type="checkbox" name="active" /><br />
    Activation Date: <input type="text" name="activiationDate" placeholder="dd MM yyyy" /><br />
</form>